@import "./base.css";

body {
  overflow-x: hidden;
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto 0;
  font-family: 'Raleway', sans-serif;;
}

/* @media (hover: hover) {
  a:hover {
  }
} */
